# Environment Variables for Local Development
# Copy this file and rename to .env (this file will be ignored by Git)

# Database Configuration
DB_URL=jdbc:mysql://localhost:3306/sshop_db?allowPublicKeyRetrieval=true&useSSL=false
DB_USERNAME=root
DB_PASSWORD=admin

# JWT Configuration
JWT_SECRET=dGhpc2lzYXZlcnlzZWN1cmVzZWNyZXRrZXlmb3Jqd3R0b2tlbmdlbmVyYXRpb25hbmRzaG91bGRiZWF0bGVhc3QyNTZiaXRzbG9uZw==
JWT_EXPIRATION=3600000

# Server Configuration
SERVER_PORT=5050