# Copy to .env and fill with real values
MYSQL_DATABASE=your-mysql-database-name
MYSQL_USER=your-mysql-username
MYSQL_PASSWORD=your-mysql-password
MYSQL_ROOT_PASSWORD=your-mysql-root-password
REDIS_PORT=your-redis-port
SONARQUBE_POSTGRES_DB=your-sonarqube-postgres-database-name
SONARQUBE_POSTGRES_USER=your-sonarqube-postgres-user
SONARQUBE_POSTGRES_PASSWORD=your-sonarqube-postgres-password
